*{
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}


img {
    width: 100%;
}

.gallery-container {
    /* display: grid; */
    display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat( 5, 1fr);
    min-height: 100vh;
}


.img-container {
    display: flex;
}

.canvas-container {
    position: relative;
    text-align: center;
    border:1px solid lightgrey;
    height: 400px; 
    width: 400px;
    word-wrap:break-word;
}
.canvas-container p {
    position: absolute;
    display: block;
    width: 100%;
    font-size: 50px;
}


.bottom-line {
    bottom: 0;
}