* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

.head-container {
    width: 100%;
    height: 60px;
    padding: 8.5px 25px 0 24.5px;
    background-color: #ff7f00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 131px;
    height: 60px;
    cursor: pointer;
    text-decoration: none;
    color: #040a2c;
}

img {
    width: 100%;
    cursor: pointer;
}

.logo {
    display: flex;
    height: 100%;
}

.logo img {
    width: 40%;
}

.gallery-container {
    display: grid;
    /* display: none; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat( 5, 1fr);
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
    background-color: #e3e3e3;
}

.main-container {
    display: none;
    /* position: fixed; */
    grid-template-columns: repeat(2, 1fr);
    min-height: 80vh;
    align-items: center;
    justify-items: center;
    background-color: #e3e3e3;
}

.meme-controller {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.download-btn {
    color: black;
}

.img-container {
    display: flex;
}

.canvas-container {
    /* display: none; */
    text-align: center;
    border: 1px solid lightgrey;
    height: 400px;
    width: 400px;
    align-items: center;
    justify-items: end
    /* word-wrap: break-word; */
}

.footer-container {
    width: 100%;
    height: 200px;
    background-color: #ff7f00;
    display: flex;
    flex-direction: column;
}

.footer h2 {
    align-self: center;
}

.footer-container img {
    height: 50px;
    margin: auto;
}